<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.endless.study.baselibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <!--注册下载服务 可远程启动-->
        <service android:name="com.endless.study.baselibrary.common.download.DownloadService"
                 android:enabled="true"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.endless.action.service.download"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>
</manifest>
