<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.endless.xin.permissionlib">
    <application>
        <activity
            android:name="com.endless.permission.PermissionActivity"
            android:theme="@style/Theme.Transparent"/>
    </application>
</manifest>
